.dashboard__section {
  padding: 1rem var(--margin);
  background: color-mix(in srgb, var(--background), var(--foreground) 7%);
  border-radius: 1rem;
  margin-bottom: 4rem;
  /* overflow-x: auto; */

  & .dashboard__wishlist__cards {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    height: 20rem;
    margin-bottom: 1rem;
  }
}
