.navbar {
  position: relative;
  max-width: var(--max);
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem var(--margin);
  z-index: 1000;

  & .navbar__logo {
    display: flex;
    align-items: center;

    & img {
      width: 3rem;
    }
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  & .navbar__search {
    flex: 1;
    height: 2.25rem;
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
    background: color-mix(in srgb, var(--background), var(--foreground) 7%);
    & .navbar__search__icon {
      width: 1rem;
      height: 1rem;
      background: var(--foreground);
      margin: 0 0.75rem 0 1rem;
    }
    & .navbar__search__input {
      border: none;
      background: none;
      min-width: 0;
      width: 100%;
      flex: 1;
      &:focus {
        outline: none;
      }
    }
    & .navbar__search__confirm {
      display: inline-block;
      margin-left: auto;
    }
  }

  & .navbar__actions {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;

    & li {
      list-style: none;
    }
  }

  & .navbar__toggle_actions {
    background: var(--foreground);
    height: 2rem;
    width: 2rem;
    border: none;
    border-radius: calc(infinity * 1px);
    cursor: pointer;
    &.navbar__toggle_actions--active {
      background: var(--foreground);
      border-radius: 0;
    }
  }

  & .navbar__actions_menu {
    position: absolute;
    top: 100%;
    margin: 0;
    right: var(--margin);
    background: var(--background);
    border: 1px solid var(--foreground);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    width: 200px;
    border: none;
    background: color-mix(in srgb, var(--background), var(--foreground) 7%);

    & .navbar__actions_menu__user {
      & .navbar__actions_menu__user__display-name {
        display: block;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 0.25em;
      }
      & .navbar__actions_menu__user__username {
        font-size: 0.875rem;
        font-weight: bold;
        color: color-mix(in srgb, var(--foreground), var(--background) 50%);
      }
    }
  }
}
