:root {
  --gridColumns: 1;

  @media screen and (min-width: 480px) {
    --gridColumns: 2;
  }
  @media screen and (min-width: 768px) {
    --gridColumns: 3;
  }
  @media screen and (min-width: 1024px) {
    --gridColumns: 4;
  }
  @media screen and (min-width: 1532px) {
    --gridColumns: 6;
  }
}

.listing__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  h1 {
    margin: 0;
  }
}

.listing__list {
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 1rem;
}
