:root {
  --card-ratio: 245/337;
}
a.card {
  display: flex;
  border-radius: 4%;
  max-height: 600px;

  .card__info {
    h2 {
      margin: 0;
    }
  }
  .card__img {
    aspect-ratio: var(--card-ratio);
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  .card__img_placeholder {
    aspect-ratio: var(--card-ratio);
    width: 100%;
    max-height: 100%;
    background: black;
  }
}
